/* Base CSS */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary__color--black: #152427;
    --primary__color--black-green: #143c3c;
    --secondary__color--blue: #83a17d;
    --secondary__color--light-green: #e2eddf;
    --secondary__color--gray: #6a8383;
    --text__color--black-gray: #575d5e;
    --text__color--white: #fff;
    --tex__color--light-gray: #7d8188;
}
/* Common */
.container {
    width: 1140px;
    max-width: 100% - 48px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    color: var(--text__color--white);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 57px;
    min-width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--primary__color--black-green);
}
.btn:hover {
    opacity: 0.8;
}
.section__heading {
    color: var(--primary__color--black);
    font-family: Poppins;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2381; /* 123.81% */
    position: relative;
}
.section__title {
    margin-left: 46px;
    color: var(--primary__color--black);
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    position: relative;
}
.section__title::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary__color--black);
    position: absolute;
    top: 9px;
    left: -46px;
}
.section__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary__color--black);
    position: absolute;
    bottom: 19px;
}
/* ======================Header====================== */
header {
    font-family: "Public Sans", sans-serif;
}
.header {
    padding-top: 28px;
    display: flex;
    align-items: center;
    position: relative;
}
.header::after {
    content: "";
    display: inline-block;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    position: absolute;
    bottom: -13px;
}
.navbar ul {
    display: flex;
    column-gap: 38px;
}
.navbar {
    display: flex;
    margin-left: auto;
    column-gap: 88px;
    align-items: center;
}
.navbar__item,
.hero__desc {
    color: var(--text__color--black-gray);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55556; /* 155.556% */
    position: relative;
}
.navbar__item.navbar__item--active {
    color: var(--primary__color--black);
}
.navbar__item:hover {
    color: var(--primary__color--black);
}
.navbar__item.navbar__item--active::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary__color--black-green);
    position: absolute;
    bottom: -30px;
    left: 2px;
}
/* Hero */
.hero {
    margin-top: 74px;
    display: flex;
    align-items: center;
}
.hero__title {
    width: 368px;
    color: var(--primary__color--black);
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}
.hero__desc {
    width: 341px;
    margin-top: 20px;
}
.hero__action {
    margin-top: 42px;
    display: flex;
    align-items: center;
}
.hero__video {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.hero__video:hover svg:last-child ellipse {
    fill: var(--primary__color--black-green);
}
.hero__video .icon {
    margin-left: 36px;
    display: flex;
    align-items: center;
}
.hero__video .icon svg:first-child {
    margin-right: -22px;
}
.hero__video .text {
    color: var(--primary__color--black);
    margin-left: 15px;
    text-align: center;
    font-family: "Poppins";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}
/* Hero media */
.hero__media {
    display: flex;
    margin-right: 20px;
    margin-left: auto;
    position: relative;
    width: 646px;
    height: 466px;
}
.hero__image {
    display: flex;
    gap: 20px;
}
.hero__image:not(:first-child) {
    margin-left: 20px;
}
.hero__media::after {
    display: block;
    content: "";
    position: absolute;
    right: 150px;
    bottom: 4px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}
.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    z-index: 1;
}
.hero__img:nth-child(2) {
    transform: translateY(77px);
}
.hero__snow-1 {
    position: absolute;
    left: -215px;
    bottom: 407px;
    z-index: 1;
}
.hero__line-1 {
    position: absolute;
    left: -175px;
    bottom: 137px;
    z-index: 1;
}
.deco-2 {
    position: absolute;
    top: 229px;
    right: 34px;
    z-index: 1;
}
/* ========================Logo======================= */
.logo__section {
    margin-top: 207.31px;
}
.logo__section .container {
    height: 201px;
    border-radius: 100.5px;
    background: var(--secondary__color--light-green);
    padding-left: 121px;
    padding-right: 122px;
    display: flex;
    align-items: center;
}
.logo__section--google {
    color: var(--primary__color--black-green);
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.logo__section-group {
    display: flex;
    align-items: center;
}
.logo__section--slack {
    margin-left: 47px;
}
.slack__text {
    margin-left: 1px;
    color: var(--primary__color--black-green);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo__section--discord {
    margin-left: 51px;
}
.discord__text {
    margin-left: 11px;
    color: #163c35;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo__section--rio {
    margin-left: 64px;
    color: var(--primary__color--black-green);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo__section--hekoru {
    margin-left: 63px;
}
.hekoru__text {
    color: var(--primary__color--black-green);
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.995px;
}
/* =========================Service=========================== */
/* service header */
.service {
    margin-top: 106px;
}
.service__row {
    margin-top: 12px;
    display: flex;
    align-items: center;
}
.service__heading {
    width: 520px;
}
.service__action {
    margin-left: auto;
    display: flex;
    gap: 17px;
}
.service__action--circle {
    margin-top: 41px;
    margin-bottom: 9px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e2eddf;
    color: #152427;
}
.service__action--circle:hover {
    background: #152427;
    color: #fff;
}
.service__heading.section__heading::after {
    left: 351px;
}
/* Service list */
.service__list {
    margin-top: 76px;
    display: flex;
    gap: 16px;
}
.service__img {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0 0;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    object-fit: cover;
}
.service__card:hover .service__info {
    margin-left: 18px;
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service__info {
    margin-top: 24px;
    margin-bottom: 23px;
}
.service__name {
    color: var(--primary__color--black);
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.service__desc {
    width: 268px;
    margin-top: 18px;
    color: var(--tex__color--light-gray);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71429; /* 171.429% */
}
/* =======================About========================= */
/* About media */
.about {
    margin-top: 149px;
}
.about .container {
    display: flex;
    justify-content: space-between;
}
.about__media {
    width: 591px;
    height: 557px;
    position: relative;
}
.about__img {
    position: absolute;
    object-fit: cover;
    border-radius: 210px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
}
.about__img.img-1 {
    width: 286px;
    height: 480px;
    left: 0;
    bottom: 0;
}
.about__img.img-2 {
    width: 286px;
    height: 480px;
    top: 0;
    right: 0;
}
/* Deco */
.about__deco {
    position: absolute;
    z-index: 1;
}
.about__deco--snow {
    left: 37px;
    top: -41px;
}
.about__deco--line {
    top: 4px;
    left: 77px;
}
/* Info */
.about__info {
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
    position: absolute;
    top: 405px;
    right: -9px;
}
.about__info--container {
    margin: 19px 22px 13px 23px;
}
.about__info--heading {
    color: var(--primary__color--black);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.about__info--desc {
    margin-top: 6px;
    color: var(--text__color--black-gray);
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    opacity: 0.4;
}
.about__teams--heading,
.about__info--loading,
.about__info--percent {
    display: block;
    margin-top: 10px;
    color: var(--primary__color--black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}
.about__info--percent::after {
    margin-top: 3px;
    content: "";
    display: block;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: linear-gradient(
        to right,
        #83a17d 0%,
        #83a17d 40%,
        #eaeaea 40%,
        #eaeaea 100%
    );
}
.about__info--loading {
    margin-top: 3px;
    text-align: right;
}
.about__circle {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__circle .circle {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: var(--primary__color--black-green);
}
.about__teams {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__teams--heading {
    margin-top: 0;
}
.about__teams--avt {
    display: flex;
}
.about__avt--img {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    object-fit: cover;
}
.about__avt--img:not(:first-child) {
    margin-left: -5px;
}
/* About content */
.about__heading {
    width: 483px;
}
.about__heading::after {
    display: none;
}
.about__desc {
    margin-top: 11px;
    width: 478px;
    color: var(--tex__color--light-gray);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
}
.about__detail {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.about__detail--percent {
    color: var(--primary__color--black);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2381; /* 123.81% */
}
.about__detail--desc {
    width: 364px;
    color: var(--tex__color--light-gray);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71429; /* 171.429% */
}
.about__detail::after {
    content: "";
    display: inline-block;
    width: 485px;
    height: 2px;
    background: #83a17d;
    position: absolute;
    bottom: -20px;
    opacity: 0.6;
}
/* =======================Process======================= */
.process {
    margin-top: 79px;
}
/* .process .container {
    position: relative;
} */
.process__heading {
    margin-top: 20px;
    width: 477px;
}
.process__heading::after {
    bottom: 18px;
    right: -9px;
}
.process__image {
    width: 450px;
    height: 444px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 92px;
}
.process__list {
    margin-top: 81px;
}
.process__item {
    display: flex;
    align-items: center;
}
.process__item.item-1 {
    position: relative;
}
.process__number {
    display: inline-block;
    margin-left: 30px;
    color: var(--primary__color--black-green);
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.72222; /* 72.222% */
}
.process__name {
    color: var(--primary__color--black);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.process__desc {
    width: 572px;
    margin-left: auto;
    margin-right: 41px;
    color: var(--tex__color--light-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55556; /* 155.556% */
}
.process__link {
    display: block;
    margin-top: 22px;
    color: var(--text__color--black-gray);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    text-decoration: underline;
}
.item-1 .process__info {
    margin-top: 22px;
    margin-left: 64px;
}
.item-2 .process__name {
    margin-left: 49px;
}
.item-3 .process__name {
    margin-left: 47px;
}
.process__item.process__item--active {
    height: 185px;
    border-radius: 33px;
    background: var(--secondary__color--light-green);
}
.process__list .item-2 {
    height: 151px;
    position: relative;
}
.process__list .item-3::after,
.process__list .item-2::after {
    content: "";
    display: block;
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    position: absolute;
    bottom: 0;
}
.process__list .item-3 {
    height: 166px;
}
/* ========================Feature====================== */
.feature {
    margin-top: 148px;
    background: var(--primary__color--black-green);
    position: relative;
}
.feature__header {
    padding-top: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature__heading {
    width: 457px;
    color: #e7f9f9;
}
.feature__heading::after {
    right: 97px;
    bottom: 20px;
    background: #e7f9f9;
}
.feature__desc {
    width: 590px;
    color: var(--secondary__color--gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55556; /* 155.556% */
}
.feature__action {
    margin-top: 13px;
    display: flex;
    align-items: center;
}
.feature__action--title {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55556; /* 155.556% */
}
.feature__action--icon {
    margin-left: 26px;
}
.feature__video {
    margin-top: 65px;
    padding-bottom: 63px;
    position: relative;
}
.feature__video--img {
    width: 1140px;
    height: 544px;
    border-radius: 22px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    object-fit: cover;
}
.feature__video--button {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 0;
    background: #000000b2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc((100% - 63px) / 2);
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
}
.feature__deco {
    position: absolute;
    z-index: 1;
}
.feature__deco--line {
    top: 120px;
    right: 53px;
}
.feature__deco--snow {
    top: 214px;
    right: 51px;
}
